<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Covid Sentiment</title>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <h1>Daily Covid Sentiment</h1>
      <h2>A daily score based on an analysis of 2000 tweets giving a sentiment score between -1 and 1.</h2>

      <canvas id="lineChart" width="1600" height="900"></canvas>
      <h1>Distribution of 48,000 Daily Tweets </h1>
      <canvas id="stackedBar" width="1600" height="900"></canvas>
    </div>
    <script >
     
      var dates = {{dates|safe}};
      var sentiment = {{scores|safe}};
      
      var positive = {{positive|safe}};
      var negative = {{negative|safe}};
      var neutral = {{neutral|safe}};

      var configLine = {
        type: 'line',
        data: {
          labels: dates ,
          datasets: [
            { 
              data: sentiment,
              label: "Sentiment",
              borderColor: "#3e95cd",
              fill: false
            },
          ]
        },
        options:{
            scales: {
                yAxes : [{
                    ticks : {
                        max : 1,    
                        min : -1
                    }
                }]
            }
        }
        

      };
      
      var configBar = {
        type: "bar",
        data: {
          labels: dates,
          datasets: [
            {
                label: "Positive",
                backgroundColor: "#53bd57",
                fillColor: "#000000",
                data: positive
            }, 
            {
                label: "Negative",
                backgroundColor: "#c46060",
                data: negative
            },
            {   
                label: "Neutral",
                backgroundColor:"#b1bee3",
                data: neutral
            },
          ]
        },
        options: {
          legend: {
           
          },
          scales: {
            xAxes:[{
              stacked: true
            }],
            yAxes:[{
              stacked: true
            }],
          }
        }
      };

      window.onload = function() {
        var lineChart= document.getElementById("lineChart");
        var barChart =document.getElementById("stackedBar")
        window.myLine = new Chart(lineChart, configLine);
        window.mybar = new Chart(barChart, configBar);
    };
    </script>
  </body>
</html>
